## -- DEVELOPMENT RELATED IGNORES --

# Tell VSCode to frick off
.vscode/
# and GitHub
.git/

# Let's not forget about node_modules.
node_modules/

## -- THECODINGBOT RELATED IGNORES --
src/app/cache/*
src/app/cfg/tokendata.json
src/app/cfg/app.sqlite