## -- DEVELOPMENT RELATED IGNORES --

# Tell VSCode to frick off
.vscode/

# Let's not forget about node_modules.
node_modules/

## -- THECODINGBOT RELATED IGNORES --
modules/cache/*
modules/cfg/tokendata.json
modules/cfg/app.sqlite

