{
	"discord": "THE FITNESSGRAM PACER TEST IS A MULTISTAGE AERBOIC CAPACITY TEST THAT PROGRESSIVELY GETS MORE DIFFICULT AS IT CONTINUES.",
	"osu": "WRITING'S NOT THAT EASY. GRAMMARLY CAN HELP. THIS SENTENCE IS GRAMMATICALLY CORRECT."
}